<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>demo</title>
</head>

<body>
  <div id="app" data-preload="<%= preloadedData %>">
    <%- ssrRenderedApp %>
  </div>
  <script src="<%= appLibPath %>"></script>
</body>

</html>