html {
  body {
    background-color: #222222;
    color: #F2F2F2;

    button {
      background-color: #2A2A2A;
      border-radius: 4px;
      color: #F2F2F2;
      font-weight: bold;
      padding: 2px 10px;
      margin: 10px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background-color: #000000;
      }
    }

    input {
      background-color: #F2F2F2;
      border-radius: 4px;
      color: #2A2A2A;
      padding: 2px 10px;
      margin: 10px;
      height: 20px;
      cursor: text;
    }

    .container {


      .item {
        padding: 10px;
        margin: 5px;
        display: inline-block;
        text-align: center;
        width: 150px;
        height: 150px;
        background-color: #2A2A2A;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: #000000;
        }

        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 5s linear infinite;
}